@import "tailwindcss";

@theme {
	--font-sans: Lato, sans-serif;

	--color-primary: #f47b20;
	--color-secondary: #2e3192;
}

@font-face {
	font-family: "TwemojiMozilla";
	src: url("/TwemojiMozilla.ttf");
}
